.messagesend{
    display: block;
    height: auto;
    width: auto;
    color: white;
}
.messagesend_Message{
display: flex;
    justify-content: flex-end;
}
.message_text{
    width: fit-content;
    padding: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.message_Name{
    margin-left: 3px;
    padding: 6px;
    width: fit-content;
    border-radius: 58px;
    background-color: blue;
    height: 20px;

}
.sent{
    background-color: blue;
}
.received{
    background-color: #d3d3d3;
}