.messageBox_Text{
    border: none;
    border-bottom-left-radius: 20px;
    height: 30px;
    padding-left: 20px;
}
input:focus{
    outline:none;
}
.messageBox_Send{
    border-bottom-right-radius: 20px;
    border:none;
    background-color: #023e8a;
    color: white;
    height: 34px;
    width: 83px;
    cursor: pointer;
}
.messageBox_DisplayName{
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
    margin-left: 10%;

}
.messageBox_P{
    margin: 0px;
}
.messageBox_Box{
    widows: 100%;
}